@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* shared style */

.display-flex {
    display: flex;
    padding: 0 30px;
}

.bg-color01 {
    background-color: rgba(255, 144, 14, 0.1);
}

.bg-color02 {
    background-color: rgb(30, 30, 30);
}


.text-dark-gray01 {
    color: rgb(19, 19, 19);
}

.text-dark-gray02 {
    color: rgb(66, 66, 66);
}

.text-dark-gray03 {
    color: rgb(114, 114, 114);
}

.btn-primary{
    background-color:rgb(255, 144, 14);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

/* navbar style */
.navbar{
    justify-content: space-between;
}

.navbar .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    

}

.nav-item a {
    text-decoration: none;
}

/* header style */

.brand{
    font-weight: 3rem;
    font-weight: 700;

}
.banner-content{
    max-width: 850px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.img-content{
    width: 100%;
    
}